<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
	<title>{{ title }}</title>
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
	{{{ body }}}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/assets/js/main.js"></script>
</body>