<div class="bg-image"></div>
<div class="container meme-create">
    <form action="/api/upload" method="POST" class="meme-form">
        <input id="image-upload" class="file-add" type="file" accept="image/*" name="imageUpload"/>
        <button type="submit" id="meme-upload" class="sinsup-button">Upload Meme</button>
    </form>
</div>