<div class="bg-image"></div>
<div class="container">
    <div class="side-nav">
        <a id="username-link" class="link" href="/">
            <p class="side-nav-item"><span id="username">Username</span></p>
        </a>
        <a id="subscribers-link" class="link" href="/">
            <p class="side-nav-item"><span id="user-subscribers">100</span> Subscribers</p>
        </a>
        <a id="subscribers-link" class="link" href="/">
            <p class="side-nav-item"><span id="user-subscriptions">67</span> Subscriptions</p>
        </a>
        <p class="side-nav-item"><span id="user-memepoints">73</span> M.P.</p>
        <p class="side-nav-item"><span id="user-postcount">4</span> Posts</p>
        <form class="side-nav-item side-nav-search">
            <input type="text" class="search-bar" placeholder="Search here..." /><button type="submit" class="search-submit"><i
                    class="fas fa-search"></i></button>
        </form>
        <button class="side-nav-item logout-button">Log Out</button>
    </div>
</div>