<div class="bg-image home"></div>
<div class="hero-log">
    <div class="sinsup">
        <h4 class="sinsup-head">Create an Account!</h4>
        <button id="signup" class="sinsup-button">Register Here</button>
        <hr class="sinsup-hr">
        <h4 class="sinsup-head">Already Have an Account?</h4>
        <button id="signin" class="sinsup-button">Log In</button>
    </div>
</div>