<div class="bg-image home"></div>
<div class="hero-log">
    <div class="sinsup">
        <h4 class="sinsup-head">Create an Account!</h4>
        <a href="./register.handlebars"><button id="signup" class="sinsup-button">Register Here</button></a>
        <hr class="sinsup-hr">
        <h4 class="sinsup-head">Already Have an Account?</h4>
        <a href="./login.handlebars"><button id="signin" class="sinsup-button">Log In</button></a>
    </div>
</div>