{{!-- <h1>Welcome Back</h1>

<h2>Explore Dank Memes</h2>

<form action="/api/login" method="POST" class="login-form">

    <div class="form-group">
        <label for="username">UserName:</label>
        <input type="text" id="username" name="username">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password">
    </div>


    <button type="submit">Login</button>
</form> --}}

<div class="bg-image login"></div>
<div class="container">
    <div class="login">
        <h1 class="whenyou">when you already</h1>
        <form action="/api/login" method="POST" class="login-form">
            <div class="form-group">
                <input class="login-input" id="username" type="text" placeholder="Enter Username Here..." required />
                <div class="bottom-block"></div>
            </div>
            <div class="form-group">
                <input class="login-input" id="password" type="password" placeholder="Enter Password Here..." required />
                <div class="bottom-block"></div>
            </div>
            <button type="submit" class="sinsup-button" id="log-in">Log In</button>
        </form>
        <h1 class="whenyou">made an account last time</h1>
    </div>
</div>

    <button id="submit" type="submit">Login</button>
</form>

