<div class="bg-image"></div>
<div class="container">
    <h2 id="username" class="username"><a href="./feed"><i class="fas fa-home"></i></a> | Username Here</h2>
    <button id="subscribe" class="subscribe-button">Subscribe</button>
    <hr class="user-hr" />
    <div class="user-stats">
        <p class="user-stat"><span id="user-memepoints">929</span> Meme Points</p>
        <p class="user-stat"><span id="user-postcount">3</span> Posts</p>
        <!--<p class="user-stat"><span id="user-subscribers">55</span> Subscribers</p
            ><p class="user-stat"><span id="user-subscriptions">32</span> Subscriptions</p
            >-->
        <p class="user-stat">Sort By &nbsp; <button id="sort-recent" class="user-sort">Recent</button><button id="sort-popular"
                class="user-sort">Popular</button></p>
    </div>
    <div class="user-post">
        <img class="post-image" alt="Pepehands" src="https://cdn.frankerfacez.com/emoticon/231552/4" />
        <p class="post-caption">This project is just one big pepehands-fest.</p>
    </div>
    {{#each posts}}
    <div class="user-post">
        <img class="post-image" alt="meme picture" src="{{ postpicture }}" />
        <p class="post-caption">{{ postcaption }}</p>
    </div>
</div>