<div class="bg-image"></div>
    <div class="container register-container">
        <div class="memebox">
            <img class="meme" alt="meme 1" src="/assets/images/meme1.png" /><img class="meme" alt="meme 2" src="/assets/images/meme2.jpeg" /><img class="meme" alt="meme 3" src="/assets/images/meme3.jpg" /><img class="meme" alt="meme 4" src="/assets/images/meme4.jpeg" /><img class="meme" alt="meme 5" src="/assets/images/meme5.jpg" /><img class="meme" alt="meme 6" src="/assets/images/meme6.jpg" /><img class="meme" alt="meme 7" src="/assets/images/meme7.jpg" /><img class="meme" alt="meme 8" src="/assets/images/meme8.jpg" /><img class="meme" alt="meme 9" src="/assets/images/meme9.jpg" />
        </div
        ><div class="register">
            <form action="/api/register" method="POST" class="register-form">
                <div class="form-group">
                    <input type="text" class="login-input register-input" id="username" placeholder="Enter Username" required autocomplete="off" />
                    <div class="bottom-block"></div>
                </div>
                <div class="form-group">
                    <input type="email" class="login-input register-input" id="email" placeholder="Enter Email" required autocomplete="off" />
                    <div class="bottom-block"></div>
                </div>
                <div class="form-group">
                    <input type="password" class="login-input register-input" id="password" placeholder="Enter Password" required autocomplete="off" />
                    <div class="bottom-block"></div>
                </div>
                <div class="form-group">
                    <input type="password" class="login-input register-input" id="password-verify" placeholder="Confirm Password" required autocomplete="off" />
                    <div class="bottom-block"></div>
                </div>
                <button type="submit" class="sinsup-button">Submit</button>
            </form>
        </div>
    </div>
