<div class="hero-log">



<h1>Create an account</h1>

<h2>Explore Dank Memes</h2>

<form action="/api/register" method="POST" class="register-form">

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
    </div>
    <div class="form-group">
        <label for="username">UserName:</label>
        <input type="text" id="username" name="username">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password">
    </div>

    <button type="submit">Create User</button>
</form>
</div>