html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Comfortaa', cursive;
    color: white;
}

button {
    cursor: pointer;
}

.bg-image {
    height: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, #000 0%, #111 15%, #222 30%, #111 85%, #000 100%);
    background-repeat: repeat;
    background-size: auto;
}

.bg-image.home {
    background-image: url('/assets/images/home.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.hero-log {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 200px 0 0 0;
    z-index: 100;
}

.sinsup {
    width: 450px;
    margin: 0 auto;
    box-shadow: 3px 3px 10px 1px rgba(60, 60, 60, 0.4);
    padding: 25px 0;
    text-align: center;
    background-image: url('/assets/images/concrete_wall.png');
    border-radius: 40px;
}

.sinsup-head {
    font-size: 30px;
    margin: 0;
    color: #daddd7;
}

.sinsup-head:last-of-type {
    margin-top: 25px;
}

.sinsup-button {
    border: none;
    padding: 15px;
    border-radius: 15px;
    width: 200px;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    background-color: #ff4444;
    color: #daddd7;
    margin: 25px 0 0 0;
}

.sinsup-button:first-of-type {
    margin-bottom: 25px;
}

.sinsup-button:hover,
.sinsup-button:focus {
    background-color: #dd2222;
    box-shadow: inset 3px 3px 3px 0 rgba(50, 50, 50, 0.4);
    outline: none;
    transition: all 0.2s ease-in-out;
}

.sinsup-hr {
    margin: 15px 30px;
    border-color: #daddd7;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    text-align: center;
}

.login {
    text-align: center;
    padding: 200px 0 0 0;
    max-height: calc(100% - 200px);
}

.whenyou {
    font-family: 'Impact', 'Comic Sans', sans-serif;
    color: white;
    font-size: 72px;
    text-transform: uppercase;
}

.login-form {
    margin: 20px 100px;
    border: 1px #daddd7 solid;
}

.form-group {
    margin: 20px;
    color: white;
    position: relative;
}

.login-input {
    background-color: unset;
    display: inline-block;
    width: 300px;
    font-size: 24px;
    border: none;
    line-height: 24px;
    outline: none;
    color: white;
    padding: 10px 10px 0 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.login-input::placeholder {
    font-family: 'Comfortaa', 'Comic Sans', cursive;
}

.bottom-block {
    height: 2px;
    display: block;
    width: 0;
    margin: 0 auto;
    background-image: linear-gradient(to right, white 50%, #dd2222 50%);
    background-size: 200% 100%;
}

.login-input:hover,
.login-input:focus,
.login-input-focus:active {
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
    transition: background-color 0.2s ease-in-out;
}

.login-input:hover+.bottom-block {
    width: 319px;
    transition: width 0.2s ease-in-out;
}

.login-input:focus+.bottom-block,
.login-input:active+.bottom-block {
    width: 319px;
    background-position: -100% 0%;
    transition: background-position 0.2s ease-in-out;
}

.username {
    margin: 15px 0px 10px 15px;
    display: inline-block;
    color: white;
}

.username .fas.fa-home {
    color: white;
}

.subscribe-button {
    position: fixed;
    top: 17.5px;
    right: 20px;
    border: none;
    background-color: #ff4444;
    font-family: 'Comfortaa', 'Comic Sans', cursive;
    color: #daddd7;
    font-weight: bold;
    padding: 7px;
    border-radius: 10px;
}

.subscribe-button:hover,
.subscribe-button:focus,
.subscribe-button:active {
    transition: all 0.2s ease-in-out;
    background-color: #dd2222;
    box-shadow: inset 3px 3px 3px 0 rgba(50, 50, 50, 0.4);
    outline: none;
}

.user-hr {
    margin: 15px;
    border: none;
    height: 0.5px;
    background-image: linear-gradient(to right, transparent 0%, #daddd7 10%, #daddd7 90%, transparent 100%);
}

.user-stats {
    width: 100%;
}

.user-stat {
    display: inline-block;
    width: 33.33333333333333333333333333333333333333333333%;
    text-align: center;
}

.user-post {
    border: 1px #ff4444 solid;
    display: inline-block;
    width: calc(45% - 42px);
    padding: 20px;
    text-align: center;
    height: 285px;
    overflow: hidden;
    margin: 2.5%;
}

.user-post .post-image {
    max-width: 100%;
    height: 200px
}

.user-post .post-caption {
    margin: 15px 0 0 0;
    font-size: 16px;
    line-height: 1.0;
}

.user-sort {
    border: none;
    background-color: #ff4444;
    color: #daddd7;
    font-family: 'Comfortaa', 'Comic Sans', cursive;
    padding: 8px;
}

.user-sort:hover,
.user-sort:focus,
.user-sort:active {
    background-color: #dd2222;
    outline: none;
    box-shadow: inset 3px 3px 3px 0 rgba(50, 50, 50, 0.4);
    transition: all 0.2s ease-in-out;
}

.user-sort:first-child {
    border-right: 1px black solid;
    padding-right: 4px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.user-sort:last-child {
    border-left: 1px black solid;
    padding-left: 4px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.side-nav {
    position: fixed;
    top: 50px;
    left: 25px;
    height: 800px;
    max-height: 100%;
    z-index: 1;
    background-color: #222;
    border: 1px #daddd7 solid;
    text-align: center;
}

.side-nav-item {
    width: 100%;
    padding: 20px 0;
    margin: 0;
    border-bottom: .1px #daddd7 solid;
}

.link {
    color: white;
    text-decoration: none;
}

.link .side-nav-item:hover {
    color: #dd2222;
    transition: all 0.2s ease-in-out;
}

.search-bar {
    background-color: transparent;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #daddd7;
    border-top: 2px solid #daddd7;
    font-size: 16px;
    color: white;
    font-family: 'Comfortaa', 'Comic Sans', cursive;
}

.search-submit {
    position: relative;
    bottom: 1px;
    height: 31.5px;
    background-color: #daddd7;
    border: none;
}

.search-bar:hover,
.search-bar:focus,
.search-bar:active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #ff4444;
    transition: all 0.1s ease-in-out;
}

.search-bar:hover+.search-submit,
.search-bar:focus+.search-submit,
.search-bar:active+.search-submit {
    background-color: #ff4444;
    color: #daddd7;
    outline: none;
    transition: all 0.1s ease-in-out;
}

.search-bar:focus+.search-submit:hover,
.search-bar:focus+.search-submit:focus,
.search-bar:focus+.search-submit:active {
    background-color: #dd2222;
    color: #daddd7;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.side-nav-item.logout-button {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    color: white;
    background-color: #ff4444;
    font-family: 'Comfortaa', 'Comic Sans', cursive;
    border: none;
    padding: 10px 0;
}

.side-nav-item.logout-button:hover {
    background-color: #dd2222;
    box-shadow: inset 3px 3px 3px 0 rgba(50, 50, 50, 0.4);
    transition: all 0.2s ease-in-out;
}

.feed-post {
    max-width: 75%;
    border: 1px solid #ff4444;
    margin: 0 auto;
}

.feed-post:first-child {
    margin-top: 40px;
}

.author,
.caption {
    text-align: left;
    margin-left: 15px;
}

.post-pic {
    max-width: 100%;
    height: 400px;
}

.pic-cap-hr {
    border: 0.5px solid #ff4444;
}

.user-hr.ff {
    background-image: linear-gradient(to right, transparent 0%, #ff4444 10%, #ff4444 90%, transparent 100%);
}

.memebox {
    width: 50%;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.register {
    margin-top: 62.5px;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.meme {
    width: 33.3333333333333%;
    display: inline-block;
    margin-bottom: -3.5px;
}

.container.register-container {
    margin-top: 200px;
    border: 1px solid #daddd7;
}

.login-input.register-input {
    margin-left: 0;
}

.login-input.register-input:hover+.bottom-block,
.login-input.register-input:focus+.bottom-block,
.login-input.register-input:active+.bottom-block {
    left: 60px;
}

.addmeme {
    position: fixed;
    bottom: 5px;
    right: 30px;
    z-index: 1;
}

@media screen and (max-width: 700px) {
    .memebox {
        display: inline-block;
        width: 100%;
    }

    .register {
        display: inline-block;
        width: 100%;
        margin-top: none;
    }

    .bottom-block {
        left: 152px;
    }

    .form-group .login-input:hover+.bottom-block,
    .form-group .login-input:focus+.bottom-block,
    .form-group .login-input:active+.bottom-block {
        left: 152px;
    }

}

@media screen and (max-width: 1270px) {
    .side-nav {
        display: none;
    }
}